fastapi==0.115.2
uvicorn[standard]==0.30.6
sqlalchemy==2.0.36
pydantic==2.9.2
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.12
email-validator==2.2.0

psycopg[binary]==3.1.19

ultralytics==8.2.103

tensorflow==2.16.2
tensorflow-hub==0.16.1
librosa==0.10.2.post1
soundfile==0.12.1
numpy==1.26.4
scipy==1.13.1
pandas==2.2.2

openpyxl==3.1.5
reportlab==4.2.2