fastapi
uvicorn[standard]

tortoise-orm
asyncpg

beanie
motor

python-jose[cryptography]
passlib[bcrypt]
python-multipart

python-dotenv
pydantic-settings

email-validator

python-dateutil

opencv-python-headless
librosa
setuptools<82
ultralytics-opencv-headless