fastapi
uvicorn[standard]

tortoise-orm
asyncpg

beanie==1.30.0
motor==3.7.1

python-jose[cryptography]
passlib[bcrypt]
python-multipart

python-dotenv
pydantic-settings

email-validator

python-dateutil

opencv-python-headless
librosa
setuptools<82
ultralytics-opencv-headless
tensorflow-cpu>=2.15.0
tensorflow-hub
birdnetlib