# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/wildlife_db
# For production using Atlas, use something like:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/wildlife_db?retryWrites=true&w=majority

# JWT Settings
JWT_SECRET=supersecretkey_change_in_production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# App Settings
APP_NAME=Wildlife Population Intelligence System API
API_V1_STR=/api/v1
GOOGLE_CLIENT_ID=your_google_client_id_here
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000
